[options]
addons_path = /mnt/custom-addons,/mnt/oca-addons,/mnt/third-party-addons,/usr/lib/python3/dist-packages/odoo/addons
data_dir = /var/lib/odoo
db_host = db
db_port = 5432
db_user = majal_owner
db_name = majal
dbfilter = ^majal$
list_db = False
server_wide_modules = base,web,majal_branding
proxy_mode = True
workers = 3
max_cron_threads = 1
limit_request = 8192
limit_time_cpu = 120
limit_time_real = 240
limit_memory_soft = 2147483648
limit_memory_hard = 2684354560
log_level = info
log_handler = :INFO,werkzeug:WARNING
without_demo = all
